<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Route not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<p>

<p>                      _   _  __  __         ______
    _ __ ___  __ _  ___| |_(_)/ _|/ _|       / / / /
    | '__/ _ \/ _` |/ __| __| | |_| |_ _____ / / / /
    | | |  __/ (_| | (__| |_| |  _|  _|_____/ / / /
    |_|  \___|\__,_|\___|\__|_|_| |_|      /_/_/_/
</p>

<p>Route not found : <strong th:text="${request.uri}"></strong></p>

<h4>Available routes :</h4>

<table>
    <tr th:each="route : ${routes}">
        <td th:text="${route.descriptor}"></td>
        <td><strong th:text="${route.path}"></strong></td>
        <td th:text="${route.handlerMethod}"></td>
    </tr>
</table>

</body>

</html>